@import 'normalize';

$link-color: #000;
$link-hover-color: #009688;
$link-active-click-color: #e91e63;
$active-color: #4caf50;
$error-msg-bg-color: #ffcdd2;
$error-msg-text-color: #c62828;


body {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
}

.active {
  color: $active-color;
}

a {
  margin: 10px;

  color: $link-color;

  &:hover {
    color: $link-hover-color;

    &:active {
      color: $link-active-click-color;
    }
  }
}

.hello-link {
  color: $link-color;
  text-decoration: underline;

  h1 {
    font-weight: lighter;
  }

  &:hover {
    color: $link-hover-color;

    &:active {
      color: $link-active-click-color;
    }
  }
}

.not-found {
  //box
  width: 30%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  //border
  border-radius: 10px;
  //background
  background: $error-msg-bg-color;
  //text
  color: $error-msg-text-color;
  text-align: center;
  //other
}
