@import 'normalize';

$link-color: #0F0F0F;
$link-hover-color: #009688;
$link-active-click-color: #e91e63;
$active-color: #4caf50;
$error-msg-bg-color: #e91e63;
$error-msg-text-color: #FAFAFA;
$content-bg-color: #FAFAFA;

html {
  background: #FFF;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #000;
}

.active {
  color: $active-color;
}

a {
  margin: 10px;

  color: $link-color;

  &:hover {
    color: $link-hover-color;

    &:active {
      color: $link-active-click-color;
    }
  }
}

.hello-link {
  color: $link-color;
  text-decoration: underline;

  h1 {
    font-weight: lighter;
  }

  &:hover {
    color: $link-hover-color;

    &:active {
      color: $link-active-click-color;
    }
  }
}

.not-found {
  width: 40%;
  height: 50px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: $error-msg-bg-color;
  color: $error-msg-text-color;
  text-align: center;
  filter: opacity(75%);
}

.content {
  height: auto;
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: $content-bg-color;
}
